<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AlwaysOnTop" value="true" />
        <add key="ShowNetherTravelSuggestion" value="true" />
        <add key="ApplyX4Z4Rule" value="true" />
        <add key="WriteOutputToFile" value="false" />
    </appSettings>
</configuration>
